* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
}
input,
textarea,
button {
  outline: none;
}
button,
a {
  cursor: pointer;
}
